.note {
  height: 100%;
  overflow: hidden;
  color: var(--note-text);
}

.editor {
  height: 100%;
  overflow-y: hidden;
}

.scrollable {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--note-text) 30%, transparent);
    border-radius: 4px;

    &:hover {
      background: color-mix(in srgb, var(--note-text) 50%, transparent);
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
